config.cmake
profiler_info*.log
flow*.log
unit_tests/*/makefile
unit_tests/makefile
bin/tests/makefile
bin/flow123d
bin/mpiexec
tests/*/test_results
tests/*/output

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build_tree

*~
*.kate-swp
*.kdev4
*.orig

.cproject
.project
