config.cmake
profiler_info*.log
flow*.log
unit_tests/*/makefile
unit_tests/makefile
unit_tests/fields/speed_test_*.log
unit_tests/output/*.pvd
unit_tests/output/*.msh
unit_tests/output/test?/
unit_tests/mesh/site/
bin/tests/makefile
bin/flow123d
bin/mpiexec
tests/*/test_results
tests/*/output

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build_tree

*~
*.kate-swp
*.kdev4
*.orig
*.backup

doc/reference_manual/*.aux
doc/reference_manual/flow123d_doc.pdf
doc/reference_manual/add_to_ref_doc.*
doc/reference_manual/*.brf
doc/reference_manual/input_reference_raw.tex
doc/reference_manual/*.bbl
doc/reference_manual/*.blg
doc/reference_manual/*.out
doc/reference_manual/*.synctex.gz
doc/reference_manual/*.toc
doc/reference_manual/flow_version.tex

.cproject
.project
.settings

*.pyc
