.cproject
.project
config.cmake
profiler_info*.log
flow*.log
unit_tests/*/makefile
unit_tests/makefile
bin/tests/makefile

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

*~
*.kate-swp
