#########################################################################################
# Template for project Flow123d
#########################################################################################

# include template for project Flow123d - DEVELOPER BUILDS
!include: debug.yaml