#########################################################################################
# Template for project Flow123d
#########################################################################################

# TODO for some reason including both files at once causes problem, each file seperatedly 
# included works fine

# include template for project Flow123d - DEBUG BUILD
!include: debug.yaml

# include template for project Flow123d - RELEASE BUILDS
# !include: release.yaml