<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="chrome=1">
      <title>Flow123d IST reference</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/css/mdb.min.css">
      <link rel="stylesheet" href="assets/css/katex.min.css">
      <link rel="stylesheet" href="assets/css/main.css">
      <link rel="shortcut icon" href="assets/favicon.ico">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   </head>
   <body>
      <div class="generated robot">Generated @GENERATED@</div>
      <main>
         <div class="menu list-group" data-spy="scroll">
            @NAVIGATION@
         </div>
         <div class="content">
            <header class="header">
               <div class="header-content">
                  <h3>
                     <a href="#Root" title="go to Root">
                       <img src="http://flow123d.github.io/assets/img/flow123d-logo.svg" height="80">
                     </a>
                     @VERSION@
                     <div class="robot"><small>Transport Processes in Fractured Media</small></div>
                  </h3>
               </div>
            </header>
            <div class="ist">
               @IST@
            </div>
         </div>
      </main>
      <script type="text/javascript" src="assets/js/jquery.min.js"></script>
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="assets/js/mdb.min.js"></script>
      <script type="text/javascript" src="assets/js/katex.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery.onscreen.min.js"></script>
      <script type="text/javascript" src="assets/js/flow123d.js"></script>
   </body>
</html>