#!/bin/bash

# This file is a template for a docker.cfg file which can help override some
# default variables

# You can specify the following variables, which will affect the docker 
# container behaviour


# group id
gid=$(id -g)
# user id
uid=$(id -u)
# username, default flow, but can be set to anything (it's a visual only thing)
# but the same name as $(uname) may cause conflicts with the $HOME dir
uname=flow
# theme of the terminal, choices are light, dark. any other options will switch off colors
theme=light
# if set to 1, will always call docker pull on the images, thus keeping the 
# system up to date with flow123d images, if set to 0, user is responsible 
# for the image versions
autopull=1
# location of the $work dir, where projects are stored
# is set to the first dir after $HOME which leads to the flow123d repo
work=/home/foobar/workdir
# images which will be updated by default
flow123d_images="flow-dev-gnu-dbg flow-dev-gnu-rel"
