AR = ar -rvcu
RANLIB = ranlib

cc = @CMAKE_C_COMPILER@
AR_LIB_SUFFIX = a
CFLAGS = @CMAKE_C_FLAGS@

# for blopex_serial_double
LOBPCG_ROOT_DIR =  ../../blopex_abstract


#CFLAGS = -Wall -g -I ../blopex_abstract/include

LAPACKLIB = 
BLASLIB = @BLAS_LAPACK_LIBRARIES@

